body {
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-size: calc(10px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  padding: 5vh 10vw;
  color: #fff;
  background-color: #121212;
}

.light body {
  color: #000000d9;
  background-color: #fff;
}

.icons {
  position: fixed;
  left: 1vw;
  top: 2vh;
  cursor: pointer;
}

.light .sun {
  display: none;
}

.dark .moon {
  display: none;
}

.title {
  display: inline-flex;
  align-items: baseline;
}

.title h1 {
  font-size: 4em;
  font-weight: 800;
  letter-spacing: 6px;
  margin-bottom: 0;
  margin-top: 0;
}

.title h2 {
  margin-bottom: 0;
  margin-left: 2vw;
  font-weight: normal;
  color: #999;
}

.box {
  display: flex;
  align-items: baseline;
}

.name {
  font-size: 1.6em;
  font-weight: 600;
  margin-top: 3vh;
}

.box img {
  width: 18px;
  height: 18px;
  margin-left: 1vw;
}

.content {
  margin-top: 4vh;
  font-size: 1.4em;
  line-height: 1.5;
  max-width: 36em;
}

.content a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

/* a link */
.dark .content a {
  transition: all .3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.light .content a {
  color: #000000d9;
}

/* light link */
.light .link:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, .8, .13, 1);
}

.light .link:hover:after {
  top: 0;
}

/* c1 */
.dark .c1 {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #1890ff,
    0 0 20px #1890ff,
    0 0 40px #1890ff,
    0 0 60px #1890ff;
}

.dark .c1:hover {
  color: #1890ff;
  text-shadow: 
    0 0 5px #1890ff,
    0 0 10px #1890ff,
    0 0 20px #1890ff,
    0 0 40px #1890ff,
    0 0 60px #1890ff;
}

.light .c1:after {
  background-color: #1890ff80;
}

/* c2 */
.dark .c2 {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #61dafb,
    0 0 20px #61dafb,
    0 0 40px #61dafb,
    0 0 60px #61dafb;
}

.dark .c2:hover {
  color: #61dafb;
  text-shadow: 
    0 0 5px #61dafb,
    0 0 10px #61dafb,
    0 0 20px #61dafb,
    0 0 40px #61dafb,
    0 0 60px #61dafb;
}

.light .c2:after {
  background-color: #61dafb80;
}

/* c3 */
.dark .c3 {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #5bc49f,
    0 0 20px #5bc49f,
    0 0 40px #5bc49f,
    0 0 60px #5bc49f;
}

.dark .c3:hover {
  color: #5bc49f;
  text-shadow: 
    0 0 5px #5bc49f,
    0 0 10px #5bc49f,
    0 0 20px #5bc49f,
    0 0 40px #5bc49f,
    0 0 60px #5bc49f;
}

.light .c3:after {
  background-color: #5bc49f80;
}

/* c4 */
.dark .c4 {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #feb64d,
    0 0 20px #feb64d,
    0 0 40px #feb64d,
    0 0 60px #feb64d;
}

.dark .c4:hover {
  color: #feb64d;
  text-shadow: 
    0 0 5px #feb64d,
    0 0 10px #feb64d,
    0 0 20px #feb64d,
    0 0 40px #feb64d,
    0 0 60px #feb64d;
}

.light .c4:after {
  background-color: #feb64d80;
}

/* c5 */
.dark .c5 {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #9287e7,
    0 0 20px #9287e7,
    0 0 40px #9287e7,
    0 0 60px #9287e7;
}

.dark .c5:hover {
  color: #9287e7;
  text-shadow: 
    0 0 5px #9287e7,
    0 0 10px #9287e7,
    0 0 20px #9287e7,
    0 0 40px #9287e7,
    0 0 60px #9287e7;
}

.light .c5:after {
  background-color: #9287e780;
}

/* c6 */
.dark .c6 {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #ff7875,
    0 0 20px #ff7875,
    0 0 40px #ff7875,
    0 0 60px #ff7875;
}

.dark .c6:hover {
  color: #ff7875;
  text-shadow: 
    0 0 5px #ff7875,
    0 0 10px #ff7875,
    0 0 20px #ff7875,
    0 0 40px #ff7875,
    0 0 60px #ff7875;
}

.light .c6:after {
  background-color: #ff787580;
}

/* footer */
hr {
  width: 34em;
  opacity: .3;
  margin: 20px 0;
}

.footer {
  font-size: 1.4em;
  font-weight: normal;
  color: #999;
  margin-top: 2vh;
}