body {
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-size: calc(10px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  padding: 5vh 10vw;
  color: #000000d9;
  margin: 0;
  background-color: #fff;
}

.dark body {
  background-color: #000;
  background-image: url('../image/flashlight.png');
  background-repeat: no-repeat;
  background-size: 500px 500px;
}

.icons {
  position: fixed;
  padding: 2vw;
  left: 0;
  top: 0;
  cursor: pointer;
}

.light .sun {
  display: none;
  transition: all 0.2s;
}

.dark .icons:hover .sun svg path {
  fill: #000000d9;
}

.dark .moon {
  display: none;
}

.title {
  display: inline-flex;
  align-items: baseline;
}

.title h1 {
  font-size: 4em;
  font-weight: 800;
  letter-spacing: 6px;
  margin-bottom: 0;
  margin-top: 0;
  cursor: default;
}

.title h2 {
  margin-bottom: 0;
  margin-left: 2vw;
  font-weight: normal;
  color: rgba(0,0,0,0.4);
  cursor: default;
}

.box {
  display: flex;
  align-items: baseline;
}

.name {
  font-size: 1.6em;
  font-weight: 600;
  margin-top: 3vh;
  cursor: default;
}

.box img {
  width: 18px;
  height: 18px;
  margin-left: 1vw;
}

.content {
  margin-top: 4vh;
  font-size: 1.4em;
  line-height: 1.5;
  max-width: 36em;
  cursor: default;
}

.content a {
  text-decoration: none;
  position: relative;
}

.dark .content a {
  color: #000000d9;
}

/* a link */
.dark .content a {
  transition: all .2s;
}

.light .content a {
  color: #000000d9;
}

/* light link */
.light .link:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, .8, .13, 1);
}

.light .link:hover:after {
  top: 0;
}

/* c1 */
.dark .c1:hover {
  color: #1890ff;
}

.light .c1:after {
  background-color: #1890ff80;
}

/* c2 */
.dark .c2:hover {
  color: #61dafb;
}

.light .c2:after {
  background-color: #61dafb80;
}

/* c3 */
.dark .c3:hover {
  color: #5bc49f;
}

.light .c3:after {
  background-color: #5bc49f80;
}

/* c4 */
.dark .c4:hover {
  color: #d48806;
}

.light .c4:after {
  background-color: #feb64d80;
}

/* c5 */
.dark .c5:hover {
  color: #9287e7;
}

.light .c5:after {
  background-color: #9287e780;
}

/* c6 */
.dark .c6:hover {
  color: #d3f261;
}

.light .c6:after {
  background-color: #ff78755c;
}

/* c7 */
.dark .c7:hover {
  color: #ad4e00;
}

.light .c7:after {
  background-color: #ad4e004f;
}

/* c8 */
.dark .c8:hover {
  color: #9e1068;
}

.light .c8:after {
  background-color: #9e106847;
}

/* footer */
.hr {
  width: 34em;
  height: 1px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  margin: 20px 0;
}

.footer {
  font-size: 1.4em;
  font-weight: normal;
  color: rgba(0,0,0,0.5);
  margin-top: 2vh;
  cursor: default;
}

.box a {
  margin-left: 1vw;
}
